## Lab 10

Hilal Nur Issi

hnissi

EXERCISE 1:

In [1]:
def listToDict(L1,L2):
    newDict = {}
    
    for key in L1:
        for value in L2:
            newDict[key] = value
            L2.remove(value)
            break 
            
    return newDict

In [2]:
L1=[1,2,3]
L2=['first','second','third']
listToDict(L1,L2)

{1: 'first', 2: 'second', 3: 'third'}

In [3]:
#alternate solution
def listToDict2(L1,L2):
    newDict = {}
    for i in range(len(L1)):
        newDict[L1[i]] = L2[i]
    return newDict

In [4]:
L1=[1,2,3,4]
L2=['first','second','third','fourth']
listToDict2(L1,L2)

{1: 'first', 2: 'second', 3: 'third', 4: 'fourth'}

EXERCISE 2:

In [5]:
def dMax(d):
    maxVal = 0
    
    for el in d:
        if maxVal < d[el]:
            maxVal = d[el]
            
    return maxVal

In [6]:
d = {'a':2500, 'b':61874, 'c': 60, 'd': 1560}
dMax(d)

61874

EXERCISE 3:

In [7]:
def dString(s):
    Mydic = {} 
    for c in s:
        if c == ' ': 
            continue #if it is a space ignore it 
        total = s.count(c) 
        Mydic[c] = total
    return Mydic

In [8]:
s = 'UAB CS BS'
dString(s)

{'U': 1, 'A': 1, 'B': 2, 'C': 1, 'S': 2}

EXERCISE 4:

In [3]:
def dMerge(d1,d2):
    fruitDict = {}
    
    for el in d1:
        fruitDict[el]=d1[el]
        
    for fruit in d2:
        if fruitDict.get(fruit) is not None:
            fruitDict[fruit]+= d2[fruit]
        else:
            fruitDict[fruit]=d2[fruit]
            
    return fruitDict

In [4]:
d1 = {'orange': 500, 'apple': 1100, 'carrot':600}
d2 = {'orange': 50, 'apple': 10,'grapes':300}
dMerge(d1,d2)

{'orange': 550, 'apple': 1110, 'carrot': 600, 'grapes': 300}

In [14]:
dCube(5)

{1: 1, 2: 8, 3: 27, 4: 64}