## Shusma Kafle
# shusma
# lab12

## EXERCISE 1:

In [1]:
def hailstone(n2):
    sequence=[]
    while n2 != 1:
        if n2 % 2 == 0:
            n2 = n2//2
        else: 
            n2 = (n2*3) + 1
        sequence.append(n2)
    print(sequence)
        
hailstone(7)
hailstone(6)
hailstone(3)

[22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]
[3, 10, 5, 16, 8, 4, 2, 1]
[10, 5, 16, 8, 4, 2, 1]

## EXERCISE 2:

In [2]:
def keysTOremove(d1,l1):
    for i in l1:
        del d1[i]
    return d1
d1 = {"FirstName": "Mark", "LastName": "Zuckerberg", "Salary": 2000000,"City": "Palo Alto", "Company":"Facebook" }
l1 = ["Salary", "Company","LastName"]
print(keysTOremove(d1,l1))
d1 = {"FirstName": "Mark", "LastName": "Zuckerberg", "Salary": 2000000,"City": "Palo Alto", "Company":"Facebook" }
l1 = ["Salary", "Company"]
print(keysTOremove(d1,l1))

{'FirstName': 'Mark', 'City': 'Palo Alto'}
{'FirstName': 'Mark', 'LastName': 'Zuckerberg', 'City': 'Palo Alto'}

## EXERCISE 3:

In [3]:
def animalLegs(d2):
    Totallegs = 0 
    for i in d2: 
        if i == "chickens": 
            Totallegs+=2*d2[i]
        else:#we can do this because we have only 1 2 legs animals and rest is 4
            Totallegs+=4*d2[i] 
    return Totallegs 

d1 = {"chickens":10, "rabbits":5} 
d2 = {"dogs":10, "chickens":5, "cows":5} 
print(animalLegs(d2))
print(animalLegs(d1))

70
40