NAME: SHREYAS SRINIVASA

BLAZER ID: SSRINIVA

CS 103 SPRING 2022

LAB 12

In [6]:
def hailstone(n2):
    seq=[]
    while n2 != 1:
        if n2 % 2 == 0:
            n2 = n2//2
        else: 
            n2 = (n2*3) + 1
        seq.append(n2)
    stringer = str(seq)[1:-1]
    print(stringer)
        

hailstone(3)
hailstone(6)
hailstone(7)

10, 5, 16, 8, 4, 2, 1
3, 10, 5, 16, 8, 4, 2, 1
22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1

In [19]:
import json
def keysTOremove(d1,l1):
    for j in l1:
        del d1[j]
    return json.dumps(d1)

d1 = {"FirstName": "Mark", "LastName": "Zuckerberg", "Salary": 2000000,"City": "Palo Alto", "Company":"Facebook"}
l1 = ["Salary", "Company"]
print(keysTOremove(d1,l1))

{"FirstName": "Mark", "LastName": "Zuckerberg", "City": "Palo Alto"}

In [22]:
def animalLegs(d2):
    Total = 0 
    for j in d2: 
        if j == "chickens": 
            Total+=2*d2[j]
        else:#we can do this because we have only 1 2 legs animals and rest is 4
            Total+=4*d2[j] 
    return Total 

d1 = {"chickens":10, "rabbits":5} 
print(animalLegs(d1))
d2 = {"dogs":10, "chickens":5, "cows":5} 
print(animalLegs(d2))

40
70